{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <tr>
      <th>Investment</th>
      <th>Trade Date</th>
      <th>Price</th>
      <th>Shares</th>
    </tr>
    {% for transaction_aggregate in transaction_aggregates %}
      <tr>
        <td>{{ transaction_aggregate.investment }}</td>
        <td>{{ transaction_aggregate.trade_date }}</td>
        <td>{{ transaction_aggregate.price }}</td>
        <td>{{ transaction_aggregate.shares }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
