{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <tr>
      <th>Investment</th>
      <th>Trade Date</th>
      <th>Price</th>
      <th>Shares</th>
    </tr>
    {% for transaction in transactions %}
      <tr class='level-{{transaction.level}}'>
        <th>{{ transaction.investment }}</th>
        <td>{{ transaction.trade_date }}</td>
        <td>{{ transaction.price }}</td>
        <td>{{ transaction.shares }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
