{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <tr>
      <th>Investment</th>
      <th>First Trade Date</th>
      <th>Last Trade Date</th>
      <th>Shares</th>
    </tr>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.investment }}</td>
        <td>{{ transaction.first_trade_date }}</td>
        <td>{{ transaction.last_trade_date }}</td>
        <td>{{ transaction.shares }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
