{% extends 'base.html' %}

{% block title %}{{ portfolio.name }}{% endblock title %}

{% block content %}
  <table>
    <tr>
      <th>Investment</th>
      <th>Start Date</th>
      <th>Net Shares</th>
    </tr>
    {% for transaction_aggregate in transaction_aggregates %}
      <tr>
        <td>{{ transaction_aggregate.investment }}</td>
        <td>{{ transaction_aggregate.created_date }}</td>
        <td>{{ transaction_aggregate.shares }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
