{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Investment</th>
        <th>Date</th>
        <th>Value</th>
        <th>Reason</th>
      </tr>
    </thead>
    {% for adjustment in adjustments %}
      <tbody>
        <tr>
          <th>{{ adjustment.investment }}</th>
          <td>{{ adjustment.date }}</td>
          <td>{{ adjustment.value|floatformat:'4' }}</td>
          <td>{{ adjustment.reason }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
