{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Investment</th>
        <th>Purchase Date</th>
        <th>Purchase Price</th>
        <th>Outstanding Shares</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Unrealized Gain</th>
      </tr>
    </thead>
    {% for lot_summary in lot_summarys %}
      <tbody>
        <tr class='summary'>
          <th>{{ lot_summary.investment }}</th>
          <td>{{ lot_summary.purchase_date }}</td>
          <td>{{ lot_summary.purchase_price|floatformat:4 }}</td>
          <td>{{ lot_summary.outstanding_shares|floatformat:4 }}</td>
          <td>{{ lot_summary.current_price|floatformat:4 }}</td>
          <td>{{ lot_summary.current_value|floatformat:4 }}</td>
          <td>{{ lot_summary.unrealized_gain|floatformat:4 }}</td>
        </tr>
        {% if lot_summary.lots|length > 1 %}
          {% for lot in lot_summary.lots %}
            <tr class='lot'>
              <th></th>
              <td>{{ lot.purchase_date|date:'Y-m-d' }}</td>
              <td>{{ lot.purchase_price|floatformat:4 }}</td>
              <td>{{ lot.outstanding_shares|floatformat:4 }}</td>
              <td>{{ lot.current_price|floatformat:4 }}</td>
              <td>{{ lot.current_value|floatformat:4 }}</td>
              <td>{{ lot.unrealized_gain|floatformat:4 }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
