{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Investment</th>
        <th>Purchase Date</th>
        <th>Purchase Price</th>
        <th>Shares</th>
      </tr>
    </thead>
    {% for transaction_summary in transaction_summarys %}
      <tbody>
        <tr>
          <th>{{ transaction_summary.investment }}</th>
          <td></td>
          <td></td>
          <td>{{ transaction_summary.shares|floatformat:4 }}</td>
        </tr>
        {% for transaction in transaction_summary.transactions %}
          <tr>
            <th></th>
            <td>{{ transaction.date|date:'Y-m-d' }}</td>
            <td>{{ transaction.price|floatformat:'4' }}</td>
            <td>{{ transaction.shares|floatformat:'4' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
