{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Investment</th>
        <th>Trade Date</th>
        <th>Price</th>
        <th>Shares</th>
        <th>Value</th>
      </tr>
    </thead>
    {% for transaction in transactions %}
      <tbody>
        <tr>
          <th>{{ transaction.investment }}</th>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.price|floatformat:'4' }}</td>
          <td>{{ transaction.shares|floatformat:'4' }}</td>
          <td>{{ transaction.value|floatformat:'4' }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
