{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <col />
    <thead>
      <tr>
        <th>Investment</th>
        <th>Shares</th>
        <th>Purchase Date</th>
        <th>Purchase Price</th>
        <th>Sale Date</th>
        <th>Sale Price</th>
        <th>Gain</th>
      </tr>
    </thead>
    {% for transaction in transactions %}
      <tbody>
        <tr>
          <th>{{ transaction.investment }}</th>
          <td>{{ transaction.shares }}</td>
          <td>{{ transaction.origin.date }}</td>
          <td>{{ transaction.origin.price }}</td>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.price }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
