{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <col />
    <thead>
      <tr>
        <th>Investment</th>
        <th>Purchase Date</th>
        <th>Sale Date</th>
        <th>Shares</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Realized Gain</th>
      </tr>
    </thead>
    {% for transaction in transactions %}
      <tbody>
        <tr>
          <th>{{ transaction.investment }}</th>
          <td>{{ transaction.base_transaction.date }}</td>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.shares|floatformat:4 }}</td>
          <td>{{ transaction.base_transaction.price|floatformat:4 }}</td>
          <td>{{ transaction.price|floatformat:4 }}</td>
          <td>{{ transaction.realized_gain|floatformat:4 }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
