{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <col />
    <col class='purchase' />
    <col class='sale' />
    {% for purchase, sale in transaction_purchases_sales %}
      <tbody>
        <tr>
          <th>{{ purchase.investment }}</th>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ purchase.date|date:'Y-m-d' }}</td>
          <td>{{ sale.date|date:'Y-m-d' }}</td>
        </tr>
        <tr>
          <th>Shares</th>
          <td>{{ sale.shares|floatformat:'4' }}</td>
          <td>{{ sale.shares|floatformat:'4' }}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{ purchase.price|floatformat:'4' }}</td>
          <td>{{ sale.price|floatformat:'4' }}</td>
        </tr>
        <tr>
          <th>Amount</th>
          <td>{{ purchase.amount|floatformat:'4' }}</td>
          <td>{{ sale.amount|floatformat:'4' }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
