{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <table>
    <col />
    <col class='summary' />
    {% for transaction_summary in transaction_summarys %}
      <tbody>
        <tr>
          <th>{{ transaction_summary.investment }}</th>
        </tr>
        <tr>
          <th>Date</th>
          <td></td>
          {% for transaction in transaction_summary.transactions %}
            <td>{{ transaction.trade_date|date:'Y-m-d' }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Shares</th>
          <td>{{ transaction_summary.shares|floatformat:'4' }}</td>
          {% for transaction in transaction_summary.transactions %}
            <td>{{ transaction.shares|floatformat:'4' }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Price</th>
          <td>---</td>
          {% for transaction in transaction_summary.transactions %}
            <td>{{ transaction.price|floatformat:'4' }}</td>
          {% endfor %}
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
